
            <h2>Agricula y Agroindustrial</h2>
            <h3><small>Sectores estratégicos</small></h3>

            <div class="right">
                {{ "300x300" | placeholder:'f1f1f1' | image_tag:'Placeholder' }}
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam blandit varius sem quis euismod. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam mattis sodales pulvinar. Nunc tempor vestibulum odio ut laoreet. Praesent pulvinar, mi in accumsan luctus, eros turpis euismod libero, sed condimentum dui neque vitae neque. Nullam pharetra luctus leo dapibus volutpat. Nulla rutrum pharetra tempus. Etiam ultricies libero eget suscipit blandit. Praesent convallis massa sit amet elementum congue. Nulla facilisi.</p>



            <p>Curabitur a nibh eu lectus ultrices mattis at sit amet nisl. Phasellus sed libero et magna dictum iaculis. In nulla metus, pharetra eu est in, pellentesque faucibus diam. Etiam consequat enim in sapien scelerisque sollicitudin. Vestibulum sed congue erat. Phasellus fermentum vel urna a cursus. Cras ultricies diam in convallis suscipit. Sed rutrum, purus quis blandit luctus, purus nulla fringilla urna, a dignissim felis est vitae nunc. Proin sagittis sit amet nulla sed ultrices. Ut ultricies rhoncus vehicula. Proin fringilla consectetur tortor ut condimentum. In vitae purus ante. Proin tellus nunc, varius ut nunc sed, laoreet ultricies nisi. Vestibulum mattis, purus sed mollis varius, leo magna tristique tortor, eu placerat ante leo eget mi.</p>

            <p>Nam vestibulum quam a ante luctus, consequat venenatis nisl sollicitudin. Aenean vehicula lectus non ligula dignissim pulvinar. Sed ornare odio metus, ut faucibus neque lobortis vitae. Fusce suscipit sem non tempor hendrerit. Sed non malesuada dui. Maecenas a mi lacus. Donec libero ante, hendrerit ut mollis non, euismod vel arcu. Etiam egestas dolor semper metus condimentum, adipiscing varius tortor sollicitudin.</p>

            <ul class="disc">
                <li>List item with a much longer description or more content.</li>
                <li>List item</li>
                <li>List item
                    <ul>
                        <li>Nested List Item</li>
                        <li>Nested List Item</li>
                        <li>Nested List Item</li>
                    </ul>
                </li>
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
            </ul>

            <h3>Proyecciones del sector</h3>

            <p>Aenean ut orci sit amet est adipiscing tincidunt. Aliquam non commodo leo, quis porttitor erat. Donec cursus sodales pretium. Ut mi nulla, lobortis sed lectus at, elementum condimentum lacus. Nunc eu imperdiet tellus. Nullam tincidunt elit at euismod condimentum. Phasellus vitae eros ut lacus rutrum dapibus. Nunc a est mollis nulla pretium auctor. Cras viverra urna congue nisi aliquet suscipit. Donec pretium nunc lectus, id interdum leo ultricies ornare. Nulla facilisi. Aenean quis viverra enim, vel tincidunt arcu. Integer aliquam feugiat pharetra. Aliquam dictum sit amet erat eu pharetra.</p>

            <p>Nam vestibulum quam a ante luctus, <a href="" title="">consequat venenatis nisl sollicitudin</a>. Aenean vehicula lectus non ligula dignissim pulvinar. Sed ornare odio metus, ut faucibus neque lobortis vitae. Fusce suscipit sem non tempor hendrerit. Sed non malesuada dui. Maecenas a mi lacus. Donec libero ante, hendrerit ut mollis non, euismod vel arcu. Etiam egestas dolor semper metus condimentum, adipiscing varius tortor sollicitudin.</p>

            <blockquote>I do not fear computers. I fear the lack of them. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur.<cite>Isaac Asimov</cite></blockquote>

            <p>Donec rutrum tincidunt erat vitae euismod. Nulla lobortis sem ut sollicitudin dictum. Aliquam enim eros, eleifend ut ipsum quis, tempor vestibulum ante. Proin mollis nisl ac enim pretium, ac rutrum lectus faucibus. Donec interdum sem luctus, feugiat leo at, fringilla diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin dictum, nibh pulvinar ultricies auctor, elit lorem pharetra ligula, vel suscipit velit ipsum ut neque. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris sagittis neque elementum felis rutrum consectetur. Curabitur diam ante, semper quis eleifend quis, rhoncus ut quam. Integer interdum egestas nibh.</p>

            <div class="carousel">
                <ul class="clearing-thumbs" data-clearing="">
                    <li>{{ "150x150" | placeholder:'f1f1f1' | image_tag:'Placeholder' }}</li>

                    <li>{{ "150x150" | placeholder:'f1f1f1' | image_tag:'Placeholder' }}</li>

                    <li>{{ "150x150" | placeholder:'f1f1f1' | image_tag:'Placeholder' }}</li>

                    <li>{{ "150x150" | placeholder:'f1f1f1' | image_tag:'Placeholder' }}</li>

                </ul>
            </div>

            <p>Donec rutrum tincidunt erat vitae euismod. Nulla lobortis sem ut sollicitudin dictum. Aliquam enim eros, eleifend ut ipsum quis, tempor vestibulum ante. Proin mollis nisl ac enim pretium, ac rutrum lectus faucibus. Donec interdum sem luctus, feugiat leo at, fringilla diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin dictum, nibh pulvinar ultricies auctor, elit lorem pharetra ligula, vel suscipit velit ipsum ut neque. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris sagittis neque elementum felis rutrum consectetur. Curabitur diam ante, semper quis eleifend quis, rhoncus ut quam. Integer interdum egestas nibh.</p>


            <p>The tooltips can be positioned on the <span data-tooltip="Top" class="has-tip" data-width="210" data-selector="tooltip-hvtve9e50" title="">"tip-bottom"</span>, which is the default position, <span data-tooltip="" class="has-tip tip-top noradius" data-width="210" data-selector="tooltip-hvtve9e51" title="">"tip-top" (hehe)</span>, <span data-tooltip="left" class="has-tip tip-left" data-width="90" title="">"tip-left"</span>, or <span data-tooltip="right" class="has-tip tip-right" data-width="120" title="">"tip-right"</span> of the target element by adding the appropriate class to them. You can even add your own custom class to style each tip differently. On a small device, the tooltips are full width and bottom aligned.</p>

            <h4>Avances en los últimos años</h4>

            <table>
                <thead>
                    <tr>
                        <th width="200">Table Header</th>
                        <th>Table Header</th>
                        <th width="150">Table Header</th>
                        <th width="150">Table Header</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Content Goes Here</td>
                        <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
                        <td>Content Goes Here</td>
                        <td>Content Goes Here</td>
                    </tr>
                    <tr>
                        <td>Content Goes Here</td>
                        <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                        <td>Content Goes Here</td>
                        <td>Content Goes Here</td>
                    </tr>
                    <tr>
                        <td>Content Goes Here</td>
                        <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                        <td>Content Goes Here</td>
                        <td>Content Goes Here</td>
                    </tr>
                </tbody>
            </table>

            <div class="row">
                <div class="large-8 columns">
                    <h4>Conozca los informes más relevantes del sector durante los últimos diez años</h4>
                </div>
                <div class="large-4 columns">
                    <a href="" class="button large expand right" title="">Descargar</a>
                </div>
            </div>

            <p>Donec rutrum tincidunt erat vitae euismod. Nulla lobortis sem ut sollicitudin dictum. Aliquam enim eros, eleifend ut ipsum quis, tempor vestibulum ante. Proin mollis nisl ac enim pretium, ac rutrum lectus faucibus. Donec interdum sem luctus, feugiat leo at, fringilla diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin dictum, nibh pulvinar ultricies auctor, elit lorem pharetra ligula, vel suscipit velit ipsum ut neque. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris sagittis neque elementum felis rutrum consectetur. Curabitur diam ante, semper quis eleifend quis, rhoncus ut quam. Integer interdum egestas nibh.</p>

            <p>Donec rutrum tincidunt erat vitae euismod. Nulla lobortis sem ut sollicitudin dictum. Aliquam enim eros, eleifend ut ipsum quis, tempor vestibulum ante. Proin mollis nisl ac enim pretium, ac rutrum lectus faucibus. Donec interdum sem luctus, feugiat leo at, fringilla diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin dictum, nibh pulvinar ultricies auctor, elit lorem pharetra ligula, vel suscipit velit ipsum ut neque. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris sagittis neque elementum felis rutrum consectetur. Curabitur diam ante, semper quis eleifend quis, rhoncus ut quam. Integer interdum egestas nibh.</p>

            <hr/>
            <div>Sector agrícola</div>
            <ul class="side-nav">
                <li><a href="#">Confección</a></li>
                <li><a href="#">Industrias creativas y culturales</a></li>
                <li><a href="#">Más sectores</a></li>
            </ul>





