<article class="relevant-2">
	<div class="panel">
	<header class="title">{{ global.relevant-title-2 }}</header>
	</div>
	<div class="panel hide-for-small-only">
		<div class="description"><strong>{{ global.relevant-description-2 }}</strong></div>
		<div class="relevant-offer">
			<div class="row collapse">
				<div class="large-6 columns">
					<div class=""><strong>Por necesidad:</strong></div>
					<ul>
						{% for item in global.relevant-2 limit:3 offset:2 %}
							<li><a href="" title="">{{ item.item}}</a></li>
						{% endfor %}
					</ul>
					<a href="" class="view-more" title="">Otras necesidades</a>
				</div>
				<div class="large-6 columns">
					<div class=""><strong>Por sector:</strong></div>
					<ul>
						{% for item in global.relevant-2 limit:3 offset:3 %}
							<li><a href="" title="">{{ item.item}}</a></li>
						{% endfor %}
					</ul>
					<a href="" class="view-more" title="">Más sectores</a>
				</div>
			</div>
		</div>
		<div class="relevant-cta"><a href="" class="button right" title="">{{ global.relevant-action-2 }}</a></div>
	</div>
</article>